---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html>
	<!-- <Welcome /> -->
  
	<h1>Team Symphony</h1>

	<p>Lorem ipsum dolor sit amet.</p>

	<p>Lorem ipsum dolor sit amet.</p>

  <div id="background-overlay"></div>
  <div id="background"></div>

	<style>
    #background-overlay {
      /* So it covers the whole screen */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* Apply the blur effect to everything behind the overlay */
      backdrop-filter: brightness(50%) blur(10px);
      -webkit-backdrop-filter: blur(10px);
      /* Use a mask to create a transparent circular hole in the center */
      mask-image: radial-gradient(circle at center, transparent 80px, black 100px);
      -webkit-mask-image: radial-gradient(circle at center, transparent 80px, black 100px);
      z-index: -999; /* Just in case lol */
    }
		#background {
      /* Background */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1000;
      background: conic-gradient(
        from 0deg at 50% 50%,
        #ef233c 0deg,
        #ef233c 57.6deg,
        #fc7531 57.6deg,
        #fc7531 118.8deg,
        #fcc331 118.8deg,
        #fcc331 180deg,
        #2cc04a 180deg,
        #2cc04a 237.6deg,
        #3f48cc 237.6deg,
        #3f48cc 298.8deg,
        #6f1798 298.8deg,
        #6f1798 360deg
      );
    }
	</style>
</html>
