---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html>
	<!-- <Welcome /> -->

	<h1>Team Symphony</h1>

	<p>Lorem ipsum dolor sit amet.</p>

	<p>Lorem ipsum dolor sit amet.</p>

	<style>
		body {
      margin: 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: conic-gradient(
        from 0deg at 50% 50%,
        #ef233c 0deg,
        #ef233c 57.6deg,
        #fc7531 57.6deg,
        #fc7531 57.6deg,
        #fc7531 118.8deg,
        #fcc331 118.8deg,
        #fcc331 180deg,
        #2cc04a 180deg,
        #2cc04a 237.6deg,
        #3f48cc 237.6deg,
        #3f48cc 298.8deg,
        #6f1798 298.8deg,
        #6f1798 360deg,
        #6f1798 360deg
      );
    }
	</style>

</html>
